.body{
    background:lightgray;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content {
    min-height:700vh;
    flex:1 0 auto;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    height: 20px;   
}